@import "./variables.css";

#chat-page {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  gap: 40px;
  flex-wrap: wrap;
}

.main {
  flex-grow: 9999;
  flex-basis: 200px;
}

.sub {
  flex-grow: 1;
  flex-basis: 400px;
  width: 30%;
}

/* user */
#user-list {
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
  row-gap: 10px;
  margin-top: 12px;
}

.user-pill {
  background-color: var(--text-light);
  border-radius: 20px;
  padding: 0px 8px;
  white-space: nowrap;
}

.user-pill.transmit {
  background-color: var(--text-error);
  color: white;
  border-radius: 20px;
  padding: 0px 8px;
  white-space: nowrap;
}

/* instructions */
#instructions p {
  margin-top: 4px;
  margin-bottom: 4px;
}

#instructions #key-usages {
  display: flex;
  gap: 20px;
}

/* notification */
#notification-scroll {
  height: 200px;
  overflow: auto;
}

#notification-scroll::-webkit-scrollbar {
  display: none;
}

/* mode switch */
#mode-switch > input {
  width: 0;
  height: 0;
  visibility: hidden;
}

#mode-switch > label {
  display: block;
  width: 150px;
  height: 30px;
  background-color: var(--secondary);
  border-radius: 100px;
  cursor: pointer;
}

#mode-switch > label::after {
  content: "RECEIVE";
  display: block;
  text-align: center;
}

#mode-switch > input:checked + label:after {
  content: "TRANSMIT";
  color: white;
}

#mode-switch > input:checked + label {
  background-color: var(--text-error);
}

/* beep button */
#beep-button {
  font-size: 40px;
  height: 150px;
  width: 150px;
  user-select: none;
}

/* settings */
#settings-form {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fill, minmax(calc(100% / 2 - 20px), 160px));
  grid-gap: 20px;
}
