#chat-page {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  gap: 40px;
  flex-wrap: wrap;
}

.main {
  flex-grow: 9999;
  flex-basis: 200px;
}

.sub {
  flex-grow: 1;
  flex-basis: 400px;
  width: 30%;
}

#notification-scroll {
  height: 200px;
  overflow: auto;
}

#notification-scroll::-webkit-scrollbar {
  display: none;
}

#beep-button {
  font-size: 40px;
  height: 150px;
  width: 150px;
  user-select: none;
}
