@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400;500;600;700;800&display=swap");

/* import */
@import "./variables.css";
@import "./layout.css";
@import "./login.css";
@import "./chat.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--background-white);
  font-family: "Baloo Bhaijaan 2", sans-serif;
  color: var(--text-dark);
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* header */
header {
  height: 3rem;
  padding: 2.25rem 2rem 1.75rem 2rem;
  background-color: var(--secondary);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

header #page-title {
  color: white;
  font-size: 30px;
  font-weight: 200;
  text-decoration: none;
  font-style: italic;
}

header #user-count {
  font-size: 20px;
}

/* main */
main {
  flex-grow: 1;
}

#container {
  min-height: 100%;
  max-width: 90%;
  margin: 0 auto;
}

/* footer */
footer {
  height: 3rem;
  line-height: 3rem;
  text-align: center;
  font-weight: 300;
}

/* override */
label {
  font-size: 20px;
  width: 100%;
}

input {
  font-size: 20px;
}

button {
  font-size: 20px;
  padding: 8px 16px;
  border-radius: 20px;
  background-color: var(--ternary);
  border: none;
}

button:active {
  background-color: var(--text-error);
}

hr {
  margin-top: 24px;
  margin-bottom: 24px;
}
