@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400;500;600;700;800&display=swap");
@import "./variables.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--background-white);
  font-family: "Roboto", sans-serif;
  color: var(--text-gray-strong);
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  height: 3rem;
  padding: 2rem;
  background-color: grey;
}

main {
  padding: 2rem 1rem;
  width: 80%;
  margin: 0 auto;
  flex-grow: 1;
}

footer {
  height: 3rem;
  line-height: 3rem;
  text-align: center;
  font-weight: 300;
}
