@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400;500;600;700;800&display=swap");
@import "./variables.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--background-white);
  font-family: "Baloo Bhaijaan 2", sans-serif;
  color: var(--text-dark);
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main {
  flex-grow: 1;
}

#container {
  max-width: 80%;
  margin: 0 auto;
}

label {
  font-size: 20px;
}

input {
  max-width: 100%;
  font-size: 20px;
}

button {
  font-size: 20px;
  padding: 8px 16px;
  border-radius: 20px;
  background-color: var(--ternary);
  border: none;
}

.form-item {
  margin-bottom: 12px;
}
