@import "./variables.css";

#room-list {
  display: inline-flex;
  flex-flow: row wrap;
  gap: 10px;
  row-gap: 10px;
  margin-top: 12px;
}

.room-pill {
  background-color: var(--secondary);
  border-radius: 20px;
  padding: 0px 8px;
  white-space: nowrap;
}

.room-pill:hover {
  background-color: var(--ternary);
  cursor: pointer;
}
